* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  font-weight: 600;
  font-size: 20px;
}
.form {
  width: 465px;
  height: 165px;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 5px;
  display: grid;
}

.box {
  width: 80mm;
  height: auto;
  background-color: white;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.small-box {
  width: 60mm;
  margin-bottom: 5px;
  padding-bottom: 8px;
}
.box h2 {
  color: black;
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
}
.small-box h2 {
  padding-bottom: 8px;
  font-size: 16px;
}
.box p {
  text-align: right;
  padding-right: 6px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
.small-box p {
  padding-right: 4px;
  display: block;
  margin-left: auto;
}
.price {
  font-size: 20px;
  width: 60%;
}
.small-price {
  font-size: 16px;
  width: 40%;
  margin-right: 20px;
}
.sum {
  font-size: 20px;
  font-weight: bold;
}
.small-sum {
  font-size: 16px;
  font-weight: bold;
}
.outer-box {
  display: flex;

  justify-content: space-between;
  padding-right: 5px;
  align-items: baseline;
}
.outer-box > span {
  font-size: 20px;
  font-weight: 700;
}
.small-outer-box > span {
  font-size: 16px;
  font-weight: 700;
}
.inner-box {
  width: 55%;
  height: 10mm;
  background-color: black;
  position: relative;
  color: white;
  font-size: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  -webkit-print-color-adjust: exact;
}
.small-inner-box {
  width: 55%;
  height: 8mm;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 5px;
}
.inner-box p {
  display: inline-block;
  text-wrap: nowrap;
  text-align: left;
}
.small-inner-box p {
  margin: 0 auto 0 8px;
}
.inner-box span {
  font-size: 20px;
}
.small-inner-box span {
  font-size: 16px;
}

.inner-box::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 20px solid black;
  position: absolute;
  right: -20px;
  top: 0px;
}
.small-inner-box::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 16px solid black;
  position: absolute;
  right: -15px;
  top: 0px;
}
.A4 {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
}
.list li {
  border-bottom: 1px dashed black;
}
.list li:last-child {
  border-bottom: none;
}
.list li:nth-child(odd) {
  border-right: 1px dashed black;
}
.list li:nth-child(odd):last-child {
  border-right: none;
}
a.active {
  color: white !important;
}

@media print {
  .header {
    display: none;
  }
  .form {
    display: none;
  }
}
